{% extends 'base.html' %}

{% block title %}Cart Summary{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">Giỏ hàng</h1>
			</div>
		</div>
	</div>
</div>

<!-- Thử nghiệm -->
<section>
	{% if cart|length == 0 %}
    <div>Your cart is empty <a href="{% url 'shop' %}">Shop</a></div>
    {% else %}


	<div>Total to pay: 
		<span>VND</span>
		<span id="total">{{cart.get_total_price}}</span>
	</div>

	{% for item in cart %}
      {% with product=item.product %}

            {% for image in product.product_image.all %}
            {% if image.is_feature%}
            <img alt="Responsive image" src="{{ image.image.url }}">
            {% endif %}
            {% endfor %}

              <a href="{{item.product.get_absolute_url}}">
                <p >{{product.title}}</p>
              </a>
				<!-- chưa làm được cái cộng quantity nên để option chọn thôi, cần fix -->
              <label for="select">Qty</label>
              <select id="select{{product.id}}" style="width:50px;height:31px;">
                <option value="" selected disabled hidden>{{item.qty}}</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>

              <a class="btn btn-primary py-3 px-4" type="button" id="update-button" data-index="{{product.id}}">Update</a>
              <a class="btn btn-primary py-3 px-4" type="button" id="delete-button" data-index="{{product.id}}">Delete</a>
      {% endwith %}
      {% endfor %}
    {% endif %}
</section>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Sản phẩm</th>
								<th>Giá</th>
								<th>Số lượng</th>
								<th>Tổng cộng</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod">
									<div class="img" style="background-image:url(/static/images/product-3.jpg);"></div>
								</td>

								<td class="product-name">
									<h3>Bell Pepper</h3>
									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>

								<td class="price">$4.90</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="1" min="1" max="100">
									</div>
								</td>

								<td class="total">$4.90</td>
							</tr><!-- END TR-->

							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod">
									<div class="img" style="background-image:url(/static/images/product-4.jpg);"></div>
								</td>

								<td class="product-name">
									<h3>Bell Pepper</h3>
									<p>Far far away, behind the word mountains, far from the countries</p>
								</td>

								<td class="price">$15.70</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="1" min="1" max="100">
									</div>
								</td>

								<td class="total">$15.70</td>
							</tr><!-- END TR-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Coupon Code</h3>
					<p>Enter your coupon code if you have one</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Coupon code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<p>Enter your destination to get a shipping estimate</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Country</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">State/Province</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">Zip/Postal Code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$20.60</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$3.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$17.60</span>
					</p>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
			</div>
		</div>
	</div>
</section>

<!-- <script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script> -->

<!-- script người ta cho sẵn có thể tham khảo -->
<script>
	// Delete Item
	$(document).on("click", "#delete-button", function (e) {
	  e.preventDefault();
	  var prodid = $(this).data("index");
	  $.ajax({
		type: "POST",
		url: '{% url "cart_delete" %}',
		data: {
		  productid: $(this).data("index"),
		  csrfmiddlewaretoken: "{{csrf_token}}",
		  action: "post",
		},
		success: function (json) {
		  $('.product-item[data-index="' + prodid + '"]').remove();
  
		  if (json.qty == 0) {
			total = 0
			subtotal = 0
		  } else {
			total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
			subtotal = json.subtotal
		  }
  
		  document.getElementById("subtotal").innerHTML = subtotal;
		  document.getElementById("cart-qty").innerHTML = json.qty;
		  document.getElementById("total").innerHTML = total;
		},
		error: function (xhr, errmsg, err) {},
	  });
	});
  
	// Update Item
	$(document).on("click", "#update-button", function (e) {
	  e.preventDefault();
	  var prodid = $(this).data("index");
	  $.ajax({
		type: "POST",
		url: '{% url "cart_update" %}',
		data: {
		  productid: $(this).data("index"),
		  productqty: $("#select" + prodid + " option:selected").text(),
		  csrfmiddlewaretoken: "{{csrf_token}}",
		  action: "post",
		},
		success: function (json) {
  
		  total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
		  document.getElementById("cart-qty").innerHTML = json.qty;
		  document.getElementById("subtotal").innerHTML = json.subtotal;
		  document.getElementById("total").innerHTML = total;
		},
		error: function (xhr, errmsg, err) {},
	  });
	});
  </script>

{% endblock %}