{% extends 'base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block menu_home_class %}active{% endblock %}

{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-12 card-margin">
		<div class="card search-form">
			<div class="card-body p-0">
				<form id="search-form" action="{% url 'search_views' %}" method="get">
					<div class="row">
						<div class="col-12">
							<div class="row no-gutters">
								<div class="col-lg-11 col-md-6 col-sm-12 p-0">
									<input type="text" placeholder="Tìm kiếm" class="form-control" id="search_input"
										name="search">
								</div>
								<div class="col-lg-1 col-md-3 col-sm-12 p-0">
									<button type="submit" class="btn btn-base">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-search">
											<circle cx="11" cy="11" r="8"></circle>
											<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		<div class="slider-item" style="background-image: url(/static/images/thucpham_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-md-12 ftco-animate text-center">
						<h1 class="mb-2">Giải pháp mua hàng hóa mùa dịch</h1>
						<h2 class="subheading mb-4">Supply neccessary products in the COVID-19 pandemic</h2>
						<p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
					</div>

				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url(/static/images/thucpham_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

					<div class="col-sm-12 ftco-animate text-center">
						<h1 class="mb-2">Thực phẩm tươi &amp; Sản phẩm tốt</h1>
						<h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
						<p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row no-gutters ftco-services">
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-shipped"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Miễn phí giao hàng</h3>
						<span>Cho nội thành TPHCM</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-diet"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Luôn luôn tươi</h3>
						<span>Sản phẩm được đóng gói tốt</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-award"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Chất lượng tuyệt vời</h3>
						<span>Sản phẩm chất lượng cao</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services mb-md-0 mb-4">
					<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
						<span class="flaticon-customer-service"></span>
					</div>
					<div class="media-body">
						<h3 class="heading">Hỗ trợ</h3>
						<span>Hỗ trợ 24/7</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6 order-md-last align-items-stretch d-flex">
						<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
							style="background-image: url(/static/images/category.jpg);">
							<div class="text text-center">
								<h2>An toàn</h2>
								<p>Mua sắm nhu yếu phẩm an toàn tại nhà</p>
								<p><a href="{% url 'shop' %}" class="btn btn-primary">Mua ngay</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
							style="background-image: url(/static/images/category_1.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="/shop/rau-cu/">Rau củ</a></h2>
							</div>
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end"
							style="background-image: url(/static/images/category_2.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="/shop/trai-cay/">Trái cây</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
					style="background-image: url(/static/images/category_3.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="/shop/do-uong/">Nước ép</a></h2>
					</div>
				</div>
				<div class="category-wrap ftco-animate img d-flex align-items-end"
					style="background-image: url(/static/images/category_4.jpg);">
					<div class="text px-3 py-1">
						<h2 class="mb-0"><a href="shop/thit/">Thịt</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Bán chạy</span>
				<h2 class="mb-4">Sản phẩm bán chạy mùa dịch</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		{% for product in products|slice:":12" %}
			<div class="col-md-4 col-lg-2 ftco-animate">
				<div class="product bg-white" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 270px;">
					<a href="{{ product.get_absolute_url }}" class="img-prod"><img class="img-fluid"
							src="{{ product.image.url | slice:"10:" }}" alt="Product">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span>{{ product.price }}đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 jqueryCatch" id="productAdd1{{product.id}}">
									<span><i class="ion-ios-cart jqueryCatch" id="productAdd2{{product.id}}" data-value="{{product.id}}"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>






<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Mới ra mắt</span>
				<h2 class="mb-4">Sản phẩm mới được đưa lên kệ</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for product2 in products2|slice:":12" %}
			<div class="col-md-4 col-lg-2 ftco-animate">
				<div class="product bg-white" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 270px;">
					<a href="{{ product2.get_absolute_url }}" class="img-prod"><img class="img-fluid"
							src="{{ product2.image.url | slice:"10:" }}" alt="Product">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="{{ product2.get_absolute_url }}">{{ product2.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span>{{ product2.price }}đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 jqueryCatch" id="productAdd1{{product2.id}}">
									<span><i class="ion-ios-cart jqueryCatch" id="productAdd2{{product2.id}}" data-value="{{product2.id}}"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Giá rẻ</span>
				<h2 class="mb-4">Sản phẩm ngon, bổ, rẻ</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for product3 in products3|slice:":12" %}
			<div class="col-md-4 col-lg-2 ftco-animate">
				<div class="product bg-white" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 270px;">
					<a href="{{ product3.get_absolute_url }}" class="img-prod"><img class="img-fluid"
							src="{{ product3.image.url | slice:"10:" }}" alt="Product">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="{{ product3.get_absolute_url }}">{{ product3.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span>{{ product3.price }}đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 jqueryCatch" id="productAdd1{{product3.id}}">
									<span><i class="ion-ios-cart jqueryCatch" id="productAdd2{{product3.id}}" data-value="{{product3.id}}"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="ftco-section ftco-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partnerstore-1.png' %}" class="img-fluid"
						alt="Partner 1"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partnerstore-2.png' %}" class="img-fluid"
						alt="Partner 2"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partnerstore-3.jpg' %}" class="img-fluid"
						alt="Partner 3"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partnerstore-4.jpg' %}" class="img-fluid"
						alt="Partner 4"></a>
			</div>
			<div class="col-sm ftco-animate">
				<a href="#" class="partner"><img src="{% static 'images/partnerstore-5.png' %}" class="img-fluid"
						alt="Partner 5"></a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block arrow %}
<div class="row">
	<div class="mouse">
		<a href="#" class="mouse-icon">
			<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
		</a>
	</div>
</div>

<script>
	$(document).ready(function(){
        $(".jqueryCatch").on('click', function (e) {
        if(e.target !== e.currentTarget) return;
        e.preventDefault();
        var clickElementId = e.target.id;
        if (clickElementId.includes("productAdd"))
        {
          var prodid = clickElementId.replace("productAdd1","");
          prodid = prodid.replace("productAdd2","");
          $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
            productid: prodid,
            productqty: 1,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          },
          success: function (json) {
            console.log("Add successfully");
          },
          error: function (xhr, errmsg, err) {}
        });
        }
      })
    });
</script>
{% endblock %}