{% extends 'base.html' %}

{% block title %}Lỗi{% endblock %}

{% block menu_about_class %}active{% endblock %}

{% block content %}
{% load static %}
<h1 class="mt-5">Banned</h1>
<p class="zoom-area">Quá nhiều lần đăng nhập thất bại!</p>
<p class="zoom-area">Vui lòng thử đăng nhập lại sau 1 giờ nữa :)</p>

<p align="center">
  <img src="https://www.meme-arsenal.com/memes/f12d380f2b33fe3207bf827628c85698.jpg" />
</p>

<div class="link-container">
  <a href="{% url 'home' %}" class="more-link">Về trang chủ</a>
</div>

{% endblock %}