{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}

<h1>
	<!-- sử dụng biến truyền vào từ view -->
	{% block product %}
	{% endblock %}
</h1>


<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">Thông Tin Sản Phẩm</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 ftco-animate">
				<a href="{% static 'images/product-1.jpg' %}" class="image-popup"><img
						src="{{ product.image.url | slice:"10:" }}" class="img-fluid" alt="San-pham"></a>
			</div>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>{{product.title}}</h3>
				<div class="rating d-flex">
					<p class="text-left mr-4">
						<a href="#" class="mr-2">5.0</a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
					</p>
					<p class="text-left mr-4">
						<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Đánh giá</span></a>
					</p>
					<p class="text-left">
						<a href="#" class="mr-2" style="color: #000;">{{product.sold}} <span style="color: #bbb;">Đã bán</span></a>
					</p>
				</div>
				<p class="price"><span></span></p>
				<p>{{product.description}}
				</p>
				<div class="row mt-4">
					<div class="w-100"></div>
					<div class="input-group col-md-6 d-flex mb-3">
						<span class="input-group-btn mr-2">
							<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
								<i class="ion-ios-remove"></i>
							</button>
						</span>
						<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1"
							min="1" max="100">
						<span class="input-group-btn ml-2">
							<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
								<i class="ion-ios-add"></i>
							</button>
						</span>
					</div>
					<div class="w-100"></div>
				</div>
				<p class="price" style="margin-left: 70px; color:#28a745;">{{product.price}}đ</p>
				<p><a href="cart.html" class="btn btn-black py-3 px-5" id="add_to_cart_btn" data-value="{{product.id}}">Thêm vào giỏ</a></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Các sản phẩm tương tự</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for relative_product in relative_products %}
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="product bg-white" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 350px;">
					<a href="{{ relative_product.get_absolute_url }}" class="img-prod"><img class="img-fluid" src="{{ relative_product.image.url | slice:"10:" }}"
							alt="anh-san-pham">

					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="{{ relative_product.get_absolute_url }}">{{ relative_product.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span class="price-sale">{{ relative_product.price }}đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 jqueryCatch" id="productAdd1{{relative_product.id}}">
									<span><i class="ion-ios-cart jqueryCatch" id="productAdd2{{relative_product.id}}"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
	</div>

</section>

{% endblock %}
{% block arrow %}
<div class="row">
	<div class="mouse">
		<a href="#" class="mouse-icon">
			<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
		</a>
	</div>
</div>

<script>
	    $(document).ready(function(){
        $(".jqueryCatch").on('click', function (e) {
        if(e.target !== e.currentTarget) return;
        e.preventDefault();
        var clickElementId = e.target.id;
        if (clickElementId.includes("productAdd"))
        {
          var prodid = clickElementId.replace("productAdd1","");
          prodid = prodid.replace("productAdd2","");
          $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
            productid: prodid,
            productqty: 1,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          },
          success: function (json) {
            console.log("Add successfully");
            // document.getElementById("cart-qty").innerHTML = json.qty
          },
          error: function (xhr, errmsg, err) {}
        });
        }
      })
    });
</script>

{% endblock %}