{% extends 'base.html' %}

{% block title %}{{product.title}}{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}

<h1>
	{% block product %}
	{% endblock %}
</h1>


<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_5.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">Thông Tin Sản Phẩm</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 ftco-animate">
				<a href="{{ product.image.url | slice:"10:" }}" class="image-popup"><img
						src="{{ product.image.url | slice:"10:" }}" class="img-fluid" alt="San-pham"></a>
			</div>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>{{product.title}}</h3>
				<div class="rating d-flex">
					<p class="text-left mr-4">
						<a href="#" class="mr-2">{{stars}}</a>
						{% for star in stars_int%}
						<a href="#"><span class="ion-ios-star"></span></a>
						{% comment %} <a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						<a href="#"><span class="ion-ios-star-outline"></span></a> {% endcomment %}
						{% endfor %}
						{% for star in unstars_int%}
						<a href="#"><span class="ion-ios-star-outline"></span></a>
						{% endfor %}
					</p>
					<p class="text-left mr-4">
						<a href="#" class="mr-2" style="color: #000;">{{rating_count}} <span style="color: #bbb;">Đánh giá</span></a>
					</p>
					<p class="text-left">
						<a href="#" class="mr-2" style="color: #000;">{{product.sold}} <span style="color: #bbb;">Đã
								bán</span></a>
					</p>
				</div>
				<p class="price"><span></span></p>
				<p>{{product.description}}
				</p>
				<div class="row mt-4">
					<div class="w-100"></div>
					<div class="input-group col-md-6 d-flex mb-3">
						<span class="input-group-btn mr-2">
							<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
								<i class="ion-ios-remove"></i>
							</button>
						</span>
						<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1"
							min="1" max="100">
						<span class="input-group-btn ml-2">
							<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
								<i class="ion-ios-add"></i>
							</button>
						</span>
					</div>
					<div class="w-100"></div>
				</div>
				<p class="price" style="margin-left: 70px; color:#28a745;">{{product.price}}đ</p>
				<p><a href="#" class="btn btn-black py-3 px-5 jqueryCatch" id="current_product{{product.id}}"
						data-value="{{product.id}}">Thêm vào giỏ</a></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">Các sản phẩm tương tự</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for relative_product in relative_products %}
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="product bg-white"
					style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 350px;">
					<a href="{{ relative_product.get_absolute_url }}" class="img-prod"><img class="img-fluid"
							src="{{ relative_product.image.url | slice:"10:" }}" alt="anh-san-pham">

					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="{{ relative_product.get_absolute_url }}">{{ relative_product.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span class="price-sale">{{ relative_product.price }}đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#"
									class="buy-now d-flex justify-content-center align-items-center mx-1 jqueryCatch"
									id="productAdd1{{relative_product.id}}">
									<span><i class="ion-ios-cart jqueryCatch"
											id="productAdd2{{relative_product.id}}"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center jqueryCatch" id="wishlist1{{relative_product.id}}">
									<span><i class="ion-ios-heart jqueryCatch" id="wishlist2{{relative_product.id}}"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

</section>

<section class="mt-5 mb-5">
	{% if ratings|length > 0 %}
	<h2 class="text-center" style="font-size: 40px; font-weight: 600;">Đánh giá về sản phẩm</h2>
	<div class="container mt-5">
	{% for rating in ratings %}
	{% comment %} {% with user=item.product %} {% endcomment %}
		<hr>
		<h4>{{rating.user.username}} <span style="border-radius: 50%; background-color: #3cde67; padding: 10px; font-size: 10px; color:white;">{{rating.ratingStar|floatformat:"1"}}</span></h4>
		<p>{{rating.content}}</p>
	{% endfor %}
	</div>
	{% endif %}
</section>

<div class="alert alert-success" role="alert" style="position: fixed; bottom: 0px; left: 25px; display: none;" id="success-alert">
  Thêm sản phẩm thành công
</div>

{% endblock %}
{% block arrow %}
<div class="row">
	<div class="mouse mt-5">
		<a href="#" class="mouse-icon">
			<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
			<input type="hidden" value="{{csrf_token}}" id="ctk" />
		</a>
	</div>
</div>

<script src="{% static 'js/addToCartSingle.js' %}"></script>
{% endblock %}