{% extends 'base.html' %}

{% block title %}Mua Hàng{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}
<div class="row mx-0">
  <div class="col-lg-12 card-margin">
    <div class="card search-form">
      <div class="card-body p-0">
        <form id="search-form" action="{% url 'search_views' %}" method="get">
          <div class="row">
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-lg-11 col-md-6 col-sm-12 p-0">
                  <input type="text" placeholder="Tìm kiếm" class="form-control" id="search" name="search" />
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <button type="submit" class="btn btn-base">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="hero-wrap hero-bread" style="background-image: url(/static/images/bg_5.jpg)">
  <div class="container">
    <div class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      ">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">Sản phẩm</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li><a href="/shop/" class="active">Tất Cả</a></li>
          <li><a href="/shop/rau-cu/">Rau Củ</a></li>
          <li><a href="/shop/trai-cay/">Trái Cây</a></li>
          <li><a href="/shop/thit/">Thịt</a></li>
          <li><a href="/shop/ca/">Cá</a></li>
          <li><a href="/shop/do-uong/">Đồ uống</a></li>
        </ul>
      </div>
    </div>
    <div class="row">

      {% for product in products %}
      <div class="col-md-2 col-lg- ftco-animate">
        <div class="product bg-white" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 270px;">
          <a href="{{ product.get_absolute_url }}" class="img-prod">
            <img class="img-fluid" src="{{ product.image.url | slice:"10:" }}" alt="product" />
            <div class="overlay"></div>
          </a>

          <div class="text py-3 pb-4 px-3 text-center">
            <h3 style="overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;">
              <a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price">
                  <span>{{ product.price }}đ</span>
                </p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="
                    buy-now
                    d-flex
                    justify-content-center
                    align-items-center
                    mx-1
                    jqueryCatch
                  " id="productAdd1{{product.id}}">
                  <span><i class="ion-ios-cart jqueryCatch" id="productAdd2{{product.id}}"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center jqueryCatch"
                  id="wishlist1{{product.id}}">
                  <span><i class="ion-ios-heart jqueryCatch" id="wishlist2{{product.id}}"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            {% if products.has_previous %}
            <li><a href="{% url 'shop' %}?page={{products.previous_page_number}}">&lt;</a></li>
            {% endif %}
            {% for n in products.paginator.page_range %}
            {% if products.number == n %}
            <li class="active"><span>{{n}}</span></li>
            {% else %}
            <li><a href="{% url 'shop' %}?page={{n}}">{{n}}</a></li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li><a href="{% url 'shop' %}?page={{products.next_page_number}}">&gt;</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="alert alert-success" role="alert" style="position: fixed; bottom: 0px; left: 25px; display: none;" id="success-alert">
  Thêm sản phẩm thành công
</div>

{% endblock %}
{% block arrow %}
<div class="row">
  <div class="mouse">
    <a href="#" class="mouse-icon">
      <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".jqueryCatch").on('click', function (e) {
      if (e.target !== e.currentTarget) return;
      e.preventDefault();
      var clickElementId = e.target.id;
      if (clickElementId.includes("productAdd")) {
        var prodid = clickElementId.replace("productAdd1", "");
        prodid = prodid.replace("productAdd2", "");
        var count = document.getElementById("cart_qty").innerHTML;
        $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
            productid: prodid,
            productqty: 1,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          },
          success: function (json) {
            count++;
            document.getElementById("cart_qty").innerHTML = count;
            $("#success-alert").show();
						$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
						$("#success-alert").slideUp(500);
					});
          },
          error: function (xhr, errmsg, err) {}
        });
      } else {
        var prodid = clickElementId.replace("wishlist1", "");
        prodid = prodid.replace("wishlist2", "");
        $.ajax({
          type: 'POST',
          url: '{% url "wishlist_add" %}',
          data: {
            productid: prodid,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          },
          success: function (json) {
            $("#success-alert").show();
						$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
						$("#success-alert").slideUp(500);
					});
          },
          error: function (xhr, errmsg, err) {}
        });
      }
    })
  });
</script>

{% endblock %}