{% extends 'base.html' %}

{% block title %}Mua Hàng{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}
<div class="row">
  <div class="col-lg-12 card-margin">
    <div class="card search-form">
      <div class="card-body p-0">
        <form id="search-form">
          <div class="row">
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Tất cả</option>
                    <option>Công Nghệ</option>
                    <option>Đồ Dùng</option>
                    <option>Hóa Mỹ Phẩm</option>
                    <option>May Mặc</option>
                    <option>Tươi sống</option>
                  </select>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                  <input type="text" placeholder="Search..." class="form-control" id="search" name="search" />
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <button type="submit" class="btn btn-base">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="hero-wrap hero-bread" style="background-image: url(/static/images/bg_1.jpg)">
  <div class="container">
    <div class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      ">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">Sản phẩm</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li><a href="/shop/" class="active">Tất Cả</a></li>
          <li><a href="/shop/rau-cu/">Rau Củ</a></li>
          <li><a href="/shop/trai-cay/">Trái Cây</a></li>
          <li><a href="/shop/thit/">Thịt</a></li>
          <li><a href="/shop/ca/">Cá</a></li>
          <li><a href="/shop/do-uong/">Đồ uống</a></li>
        </ul>
      </div>
    </div>
    <div class="row">

      {% for product in products %}
      <div class="col-md-2 col-lg- ftco-animate">
        <div class="product" style="text-overflow: ellipsis;max-width: 100%;overflow: hidden;height: 270px;">
          <a href="{{ product.get_absolute_url }}" class="img-prod">
            <img class="img-fluid" src="{{ product.image.url | slice:"10:" }}" alt="Colorlib Template" />
            <div class="overlay"></div>
          </a>

          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price">
                  <span>{{ product.price }}đ</span>
                </p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="
                    buy-now
                    d-flex
                    justify-content-center
                    align-items-center
                    mx-1
                  ">
                  <span><i class="ion-ios-cart" id="add_to_cart_btn" data-value="{{product.id}}"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block arrow %}
<div class="row">
	<div class="mouse">
		<a href="#" class="mouse-icon">
			<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
		</a>
	</div>
</div>

<script>
    $(document).ready(function(){
        $(document).on('click', '#add_to_cart_btn', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '{% url "cart_add" %}',
          data: {
            productid: $(this).data("value"),
            productqty: 1,
      // chưa làm được quantity nên mặc định là 1
          //   productqty: $('#id').text(),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'
          },
          success: function (json) {
            console.log("Add successfully");
            // document.getElementById("cart-qty").innerHTML = json.qty
          },
          error: function (xhr, errmsg, err) {}
        });
      })
    });
</script>

{% endblock %}

