{% extends 'base.html' %}

{% block title %}Sản phẩm yêu thích{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">				
				<h1 class="mb-0 bread">Danh sách sản phẩm yêu thích</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table" id="jqueryCatchClick">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>Sản phẩm</th>
								<th>&nbsp;</th>
								<th>Giá</th>
								<th>Số lượng</th>
								<th>Tổng cộng</th>
							</tr>
						</thead>
						<tbody>
							{% if products|length > 0 %}
								{% for product in products %}
							<tr class="text-center">
								<td class="product-remove"><a href="#" id="delete-button{{product.id}}"><span class="ion-ios-close" id="delete-span{{product.id}}"></span></a></td>
								<td class="image-prod">
									<div class="img" style="margin-top: 30px;">
										<img class="img-fluid" src="{{ product.image.url | slice:"10:" }}" alt="san-pham" />
									</div>
								</td>
								<td class="product-name">
									<h3 style="margin-top: 15px;">{{product.title}}</h3>
								</td>

								<td class="price" style="padding-top: 47px;">{{product.price}}đ</td>

								<td class="quantity">
									<div class="input-group mb-3" style="margin-top:25px;">
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="1" disabled>
									</div>
								</td>

								<td class="total">{{product.price}}đ</td>
							</tr>
								{% endfor %}		
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function(){
    $("#jqueryCatchClick").on("click", function (e) {
      e.preventDefault();
      var clickElementId = e.target.id;
      if (clickElementId.includes("delete-")) {
        var prodid = clickElementId.replace("delete-button","");
        prodid = prodid.replace("delete-span","");
        $.ajax({
        type: "POST",
        url: '{% url "wishlist_delete" %}',
        data: {
          productid: prodid,
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: "post",
        },
        success: function (json) {
        $("#delete-button"+prodid).parent().parent().remove();
    	},
    	error: function (xhr, errmsg, err) {},
      });
      }
    });
});
</script>

{% endblock %}