{% extends 'base.html' %}

{% block title %}Về Chúng Tôi{% endblock %}

{% block menu_shop_class %}active{% endblock %}

{% block content %}
{% load static %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_4.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
				<h1 class="mb-0 bread">Checkout</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
	<h3 class="mb-4 billing-heading">Billing Details</h3>
	{% for message in messages %}
	<h5 class="msg">{{message}}</h5>
	{% endfor %}
		<div class="row justify-content-center">
			<div class="col-12 col-md-7">
				<div class="ftco-animate">
					<div class="container">
						<div class="col-12">
							<h1 class="h2">Lựa chọn đơn vị giao hàng</h1>
						</div>
						<div class="col-12">
							<p>Chọn đơn vị giao hàng mà bạn cảm thấy phù hợp nhất</p>
						</div>
						<hr />
					</div>

					{% if deliveryoptions|length == 0 %}
					<div class=" ">Không có đơn vị giao hàng nào khả dụng.</div>
					{% else %}


					<div class="col-12">
						{% for option in deliveryoptions %}
						<div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="{{option.id}}">
							<div class="row g-0">
								<div class="col-md-2 ps-3 ps-md-4 " style="padding:15px 0 0 50px">
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
										class="bi bi-truck mt-2" viewBox="0 0 16 16">
										<path
											d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
									</svg>
								</div>
								<div class="col-md-9 ps-md-1">
									<div class="card-body p-1">
										<p class="card-text ps-2 mb-1 pt-1 fw-bold">{{option.delivery_name}}</p>
										<p class="card-text ps-2 pb-3">Sản phẩm sẽ được giao vào khoảng
											{{option.delivery_timeframe}}</p>
									</div>
								</div>
								<div class="col-md-1 ps-md-1">
									<input class="align-middle h-100" type="radio" name="deliveryOption"
										id="{{option.id}}" value="{{option.id}}">
								</div>
							</div>
						</div>
						{% endfor %}
					</div>


					{% endif %}


				</div>

				<div class="col-12">
					<h1 class="h2">Địa chỉ giao</h1>
				</div>
				<div class="col-12">
					<p>Chọn địa chỉ để nhận hàng</p>
				</div>
				<hr />

				{% if addresses|length == 0 %}
				<div class="col-12">Không có địa chỉ nhận hàng, hãy tạo mới<a href="{% url 'add_address' %}"> địa
						chỉ</a></div>
				{% else %}

				<div class="col-12">
					{% for address in addresses %}
					{% if not address.default %}
					<h1 class="h5 pt-4">Other Addresses</h1>
					{% endif %}
					<div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="{{option.id}}">
						<div class="row g-0">
							<div class="col">
								<div class="card pb-3 rounded-0">
									<div class="card-header bg-white small text-muted">
										{% if address.default %}
										Chọn
										{% endif %}
										&nbsp;
									</div>
									<div class="card-body small pb-1">
										<p class="card-text m-0 fw-bold">{{address.full_name}}</p>
										<p class="card-text m-0">{{address.address_line}}</p>
										<p class="card-text m-0">{{address.address_line2}}</p>
										<p class="card-text m-0">{{address.town_city}}</p>
										<p class="card-text m-0">{{address.postcode}}</p>
										<p class="card-text m-0">Số điện thoại: {{address.phone}}</p>
										<div class="pt-5">
											<a href="{% url 'edit_address' address.id %}"
												class="text-decoration-none">Điều chỉnh</a>
											{% if not address.default %}
											| <a href="{% url 'set_address_default' address.id %}"
												class="text-decoration-none">Chọn</a>
											{% endif %}
										</div>
									</div>
								</div>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endif %}

			</div>
			<div class="col-12 col-md-5">
				<div>
					<div class="row mt-5 pt-5">
						<div class="col-md-12 d-flex mb-5">
							<div class="cart-detail cart-total p-3 p-md-4">
								<h3 class="billing-heading mb-4">Cart Total</h3>

								<p class="d-flex">
									<span>Subtotal</span>
									<span id="sub_total">{{cart.get_subtotal_price}}</span>
									<span class="fw-bold">VND</span>
								</p>
								<p class="d-flex">
									<span>Delivery</span>
									<span id="delivery_price">{{cart.get_delivery_price}}</span>
									<span class="fw-bold">VND</span>
								</p>
								<hr>
								<p class="d-flex total-price">
									<span>Total</span>
									<span id="total">{{cart.get_total_price}}</span>
									<span class="fw-bold">VND</span>
								</p>
							</div>
						</div>
						<div class="col-md-12 col-md-5">
							<div class="cart-detail p-3 p-md-4">
								<h3 class="billing-heading mb-4">Payment Method</h3>
								{% for p_option in paymentoptions %}
								<div class="form-group">
									<div class="col-md-12">
										<div class="radio">
											<label><input type="radio" name="paymentopt" class="mr-2" id="{{p_option.id}}" value="{{p_option.id}}" >{{p_option.name}}</label>
										</div>
									</div>
								</div>
								{% endfor %}
								<span id="optionpay">Chưa chọn</span>
								<div class="form-group">
									<div class="col-md-12">
										<span class="fw-bold">Nếu bạn bấm tiêp tục thì bạn đã chấp nhận các điều kiện và điều khoảng của chúng tôi</span>
									</div>
								</div>
								<p><a href="{% url 'checkout:payment' %}" class="btn btn-primary py-3 px-4">Tiếp tục</a></p>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section> 


<script>
	$('input[type=radio][name=deliveryOption]').on('change', function (e) {
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: '{% url "checkout:update_delivery" %}',
			data: {
				deliveryoption: $(this).val(),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: "post",
			},
			success: function (json) {
				document.getElementById("total").innerHTML = json.total;
				document.getElementById("delivery_price").innerHTML = json.delivery_price;
			},
			error: function (xhr, errmsg, err) {},
		});

	});

	$('input[type=radio][name=paymentopt]').on('change', function (e) {
		e.preventDefault($(this).val());
		$.ajax({
			type: "POST",
			url: '{% url "checkout:update_payment" %}',
			data: {
				paymentoption: $(this).val(),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: "post",
			},
			success: function (json) {
				document.getElementById("optionpay").innerHTML = json.payment;
			},
			error: function (xhr, errmsg, err) {},
		});

	});
</script>

{% endblock %}